*.user
*.swp
*.suo
resque-sharp/bin
resque-sharp/obj
resque-sharp/obj/Release/*.dll
resque-sharp/obj/Release/*.pdb
tests/obj
tests/bin
tests/*.xml
resque-sharp/obj/Release/resque-sharp.dll
resque-sharp/obj/Release/resque-sharp.pdb

packages/
ResqueSharp.Tests/bin/
ResqueSharp.Tests/obj/
ResqueSharp.Web/bin/
ResqueSharp.Web/obj/
ResqueSharp.WorkerExample/obj/
ResqueSharp/obj/
ResqueSharp/bin/
ResqueSharp.WorkerExample/bin/